Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ParagonDrongo
Content/ParagonKwang
Content/ParagonLtBelica
Content/ParagonTwinBlast
Content/ParagonWraith
Content/ParagonYin
Content/MilitaryWeapSilver
Content/AnimStarterPack
Content/_Game/Assets/Fonts
Content/FPS_Weapon_Bundle
